@import '../import/colors.scss';

.wh-database-container {
  width: 95%;
  margin: 0 auto;
}

.wh-database-filter-title {
  color: $mainGreen;
  font-weight: bold;
}

.wh-database-newData{
  background: $mainGreen;
  padding: 10px;
  border-radius: 5px;
}

.wh-database-newData-title{
  color: $mainOrange;
  font-weight: bold;
}
