@import '../import/colors.scss';

.wh-header {
  background: $mainGreen;
  height: 100px;
  color: $mainOrange;
}

.wh-header-logo {
  padding-top: 20px;
  width: 15%;
  float: left;
  text-align: center;
  font-size: 30px;
}

.wh-header-logo-text {
  padding-left: 10px;
}

.wh-header-nav.active {
  display: block;
}

.wh-header-nav.inactive {
  display: block;
}

.wh-header-item {
  width: 10%;
  float: left;
  height: 100px;
  padding-top: 30px;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.1s;
  color: $mainOrange !important;
}

.wh-header-item:hover {
  color: $mainGreen !important;
  background: $mainOrange;
}

.wh-header-item.active {
  color: $mainGreen;
  background: $mainOrange;
}

.wh-header-user {
  width: 10%;
  float: right;
  height: 100px;
  padding-top: 30px;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}

.wh-header-logout {
  width: 10%;
  float: right;
  height: 100px;
  padding-top: 30px;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}

.wh-header-logout button {
  font-size: 20px;
  font-weight: bold;
  width: 90%;
  border-radius: 50px;
  background: $mainOrange;
  color: $mainGreen;
}

.wh-header-logout button:hover {
  border: solid 2px $mainOrange;
  background: $mainGreen;
  color: $mainOrange;
}

.wh-header-nav-icon {
  float: right;
  width: 50px;
  height: 100px;
  font-size: 30px;
  padding-top: 25px;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1346px) {
  .wh-header-logo-text {
    display: none;
  }
  .wh-header-user {
    width: 20%;
  }

  .wh-header-logout {
    width: 18%;
  }
}

@media screen and (max-width: 981px) {
  .wh-header-item {
    width: 15%;
  }
}

@media screen and (max-width: 752px) {
  .wh-header-nav-icon {
    display: block;
  }

  .wh-header-nav.active {
    display: block;
  }

  .wh-header-nav.inactive {
    display: none;
  }

  .wh-header-item {
    float: right;
    width: 100%;
    text-align: right;
    height: 50px;
    padding: 0;
    padding-right: 20px;
    padding-top: 10px;
    color: $mainGreen !important;
    background: $mainOrange;
  }

  .wh-header-item:hover {
    background: $mainGreen;
    color: $mainOrange !important;
  }

  .wh-header-logout {
    width: 80%;
    background: $mainOrange;
    color: $mainGreen;
  }

  .wh-header-logout button {
    background: $mainGreen;
    color: $mainOrange;
    width: 50%;
    float: right;
  }

  .wh-header-logout button:hover {
    background: $mainOrange;
    color: $mainGreen;
    border: solid 3px $mainGreen;
  }

  .wh-header-user {
    background: $mainOrange;
    color: $mainGreen;
  }
}
