@import '../import/colors.scss';

.wh-Items {
  width: 80%;
  margin: 0 auto;
}

.wh-dataItems {
  width: 90%;
  margin: 0 auto;
  height: 700px;
  border-radius: 5px;
  background: $mainOrange;
}

.wh-dataItem-id{
  width: 95%;
  height: 60px;
  padding-top: 10px;
  margin: 0 auto
}

.wh-dataItem-id-wgt{
  width: 20%;
  height: 100%;
  float: left;
  background: $mainGreen;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  padding: 13px;
  color: $mainOrange;
  font-weight: bold;
}

.wh-dataItem-id-input{
  width: 45%;
  height: 100%;
  margin-left: 2%;
  float: left;
  background: $accentGreen;
  border-radius: 5px;
}

.wh-dataItem-id-btn{
  width: 10%;
  height: 100%;
  float: left;
  margin-left: 2%;
  background: $mainGreen;
  border-radius: 5px;
  color: $mainOrange;
  padding-top: 7px;
}

.wh-dataItem-id-btn:hover{
  background: $mainOrange;
  color: $mainGreen;
  border: 3px solid $mainGreen;
}

.wh-dataItems-table{
  width: 90%;
  margin: 0 auto;
  color: $mainGreen;
  height: 500px;
  overflow: scroll;
  background: grey;
  padding-top: 0;
}

.wh-dataItems-header{
  background: $mainGreen;
  height: 60px;
  border-radius: 5px;
}

.wh-dataItems-header span{
  font-size: 30px;
  padding-left: 20px;
  color: $mainOrange;
  font-weight: bold;
}


.wh-dataitem-header-1{
  width: 50%;
  color: $mainGreen;
  background: $mainOrange;
}

.wh-dataitem-header-2{
  width: 20%;
  color: $mainGreen;
  background: $mainOrange;
}

.wh-dataitems-addnew{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.wh-dataitem-body tr{
  background: white;
}

.wh-dataitem-body td{
  border: solid 1px $accentDarkGreen;
}

.wh-dataitem-body tr:nth-child(even){
  background: $accentGreen;
}

.wh-dataitem-footer{
  background: $mainGreen;
  color: $mainOrange;
  border: solid 1px $mainOrange;
}

.wh-dataitem-footer-total{
  font-weight: bold;
}

.wh-dataitems-btn{
  width: 100%;
  height: 40px;
  font-size: 20px;
  border-radius: 50px;
  background: $mainGreen;
  color: $mainOrange;
  font-weight: bold;
}

.wh-dataitems-btn:hover{
  background: $mainOrange;
  color: $mainGreen;
  border: solid 3px $mainGreen;
}

.wh-datapacket {
  width: 90%;
  margin: 0 auto;
  height: 700px;
  border-radius: 5px;
  background: $mainGreen;
  padding-top: 20px;
}

.wh-data-name{
  width: 90%;
  height: 50px;
  margin: 0 auto;
}

.wh-data-deadline{
  width: 90%;
  height: 50px;
  margin: 0 auto;
}

.wh-data-location {
  width: 90%;
  height: 50px;
  margin: 0 auto;
}

.wh-data-location-wgt{
  width: 70%;
  background: $mainOrange;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
  font-weight: bold;
  color: $mainGreen;
}

.wh-data-location-selection{
  width: 90%;
  height: 200px;
  border: solid 3px $mainOrange;
  border-radius: 30px;
  margin: 0 auto;
  overflow-y: scroll;
}

.wh-data-location-item{
  width: 90%;
  background: $mainOrange;
  margin: 0 auto;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50px;
  padding-top: 3px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: $mainGreen;
  text-transform: capitalize;
}

.wh-data-location-item input{
  height: 30px;
  background-color: $mainGreen;
  float: right;
  margin-right: 10px;
  width: 30px;
  border-radius: 50px;
  margin-top: 1.5px;
}

.wh-data-status{
  height: 50px;
  width: 90%;
  margin: 0 auto;
}

.wh-data-submit{
  width: 90%;
  height: 50px;
  margin: 0 auto;
}

.wh-data-wgt{
  width: 30%;
  height: 100%;
  background: $mainOrange;
  border-radius: 10px;
  float: left;
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
  font-weight: bold;
  color: $mainGreen;
}

.wh-data-input{
  width: 60%;
  margin-left: 5%;
  background: $accentGreen;
  height: 100%;
  float: left;
  border-radius: 10px;
}

.wh-data-submit-btn{
  height: 100%;
  width: 40%;
  border-radius: 50px;
  background: $mainOrange;
  color: $mainGreen;
  font-size: 20px;
  font-weight: bold;
}

.wh-data-submit-btn:hover{
  background: $mainGreen;
  border: solid 3px $mainOrange;
  color: $mainOrange;
}

.wh-data-delete-btn{
  margin-left: 15px;
  height: 100%;
  width: 40%;
  border-radius: 50px;
  background: red;
  color: $mainGreen;
  font-size: 20px;
  font-weight: bold;
}

.wh-data-delete-btn:hover{
  background: $mainGreen;
  border: solid 3px red;
  color: red;
}

.wh-dataitem-body-del{
  background: $mainGreen;
  color: $mainOrange;
}

.wh-dataitem-body-del:hover {
  background: $mainOrange;
  color: $mainGreen;
  border: solid 3px $mainGreen;
}

.wh-dataItems-item-delete{
  width: 100%;
  background: $mainGreen;
  height: 100%;
  color: $mainOrange;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .wh-datapacket {
    margin-top: 30px;
  }
}
