@import '../import/colors.scss';

.wh-locations{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.wh-locations-nav{
    width: 95%;
    margin-top: 30px;
    height: 700px;
    background: $mainOrange;
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 20px;
    overflow-y: scroll;
    text-transform: capitalize;
    cursor: pointer;
}

.wh-location-nav-link{
    width: 90%;
    margin: 0 auto;
    height: 70px;
    background: $mainGreen;
    border-radius: 10px;
    margin-bottom: 20px;
    color: $mainOrange;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
}

.wh-location-nav-link span{
    padding-left: 10px;
    font-weight: bold;
}

.wh-locations-wdgts{
    width: 95%;
    margin-top: 30px;
    height: 700px;
    margin: 0 auto;
    border-radius: 10px;
    overflow-y: scroll;
}

.wh-locations-wdgt-dash{
    height: 500px;
    background: $mainOrange;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 10px;
}

.wh-locations-wdgts-title{
    width: 100%;
    height: 80px;
    background: $mainGreen;
    text-transform: capitalize;
    border-radius: 10px;
}

.wh-locations-wdgts-title-title{
    font-size: 30px;
    font-weight: bold;
    color: $mainOrange;
    margin-top: 20px;
}

.wh-locations-wdgts-title-title span{
    width: 90%;
    margin: 0 auto;
}

.wh-locations-wdgts-title-income{
    font-size: 30px;
    font-weight: bold;
    color: $mainOrange;
    text-align: right;
    margin-top: 20px;
}

.wh-locations-wdgts-title-income span{
    width: 90%;
    margin: 0 auto;
    
}

.wh-locations-wdgts-stats{
    height: 400px;
    width: 98%;
    margin: 0 auto;
}

.wh-locations-wdgts-stats-title{
    height: 40px;
    font-size: 20px;
    color: $mainGreen;
    font-weight: bold;
    padding-top: 10px;
}

.wh-locations-wdgts-stats-ul{
    width: 100%;
    border: solid 3px $mainGreen;
    height: 3px;
    border-radius: 50px;
}

.wh-locations-graphs{
    margin-top: 20px;
    margin: 0 auto;
}

.wh-locations-graphs-canvas{
    margin-top: 20px;
}

.wh-locations-graphs-keys{
    font-size: 20px;
    font-weight: bold;
    color: $mainGreen;
    text-align: center;
}

.wh-locations-targets{
    height: 200px;
    border: solid 3px $mainGreen;
    border-radius: 10px;
}

.wh-locations-targets-title{
    height: 40px;
    background: $mainGreen;
    color: $mainOrange;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}

.wh-locations-targets-targets{
    height: 30px;
    font-size: 30px;
    color: $mainGreen;
    font-weight: bold;
    margin-left: 10px;
}

.wh-locations-targets-projections{
    height: 50px;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 15px;
    background: $mainOrange;
    padding-top: 5px;
    border-radius: 10px;
    width: 90%;
    color: $mainGreen;
    padding-left: 5px;
    font-weight: bold;
}

.wh-projection-red{
    color: red;
}

.wh-projection-green{
    color: lightgreen;
}

.wh-locations-targets-new{
    height: 40px;
    background: $mainGreen;
    width: 30%;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50px;
    color: $mainOrange;
    font-weight: bold;
    padding-top: 2px;
    cursor: pointer;
}

.wh-locations-targets-new:hover{
    background: $mainOrange;
    color: $mainGreen;
    border: solid 3px $mainGreen;
}

.wh-locations-status{
    margin-top: 10px;
    background: $mainGreen;
    border-radius: 5px;
}

.wh-locations-status-title{
    height: 40px;
    color: $mainOrange;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    
}

.wh-locations-status-title span{
    margin-left: 20px;
    color: lightgreen;
}

.wh-locations-status-statuses{
    font-size: 20px;
    margin-left: 10px;
}

.wh-locations-status-statuses span{
    margin-left: 10px;
}

.wh-locations-status-store{
    color: lightgreen;
}

.wh-locations-status-warn{
    color: orange;
}

.wh-locations-status-over{
    color: red;
}

.wh-locations-status-bar{
    height: 100px;
}

.wh-locations-status-bar svg{
}

.wh-newTargets-section{
    padding: 20px;
}

.wh-newTargets-input{
    width: 100%;
    float: left;
    height: 100px;
    background: $mainGreen;
    border-radius: 10px;
}

.wh-newTargets-row{
    margin-top: 20px;
}

.wh-newTargets-input-text{
    float: left;
    width: 50%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    color: $mainOrange;
    
}

.wh-newTargets-input-input{
    float: left;
    width: 45%;
    background: $accentGreen;
    margin-top: 20px;
    border-radius: 5px;
    
}

.wh-newTargets-btns{
    margin-top: 20px;
    width: 100%;
}

.wh-newTargets-btns-btn{
    width: 50%;
    height: 50px;
    background: $mainGreen;
    border-radius: 50px;
    color: $mainOrange;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    cursor: pointer;
}

.wh-newTargets-btns-cancel{
    width: 50%;
    height: 50px;
    background: red;
    border-radius: 50px;
    color: $mainGreen;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    cursor: pointer;
    border: solid 3px $mainGreen;
}

.wh-newTargets-btns-btn:hover{
    background: $mainOrange;
    color: $mainGreen;
    border: solid 3px $mainGreen;
}

.wh-newTargets-btns-cancel:hover{
    background: $mainOrange;
    color: red;
    border: solid 3px red;
}

.wh-newTargets-btn-commit{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 150px;
    float: left;
    background: $mainGreen;
    color: $mainOrange;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.wh-newTargets-btn-cancel{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 150px;
    float: right;
    color: $mainGreen;
    background: red;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .wh-locations-wdgt-dash{
        height: 1000px;
    }

    #locationNav{
        display: none;
    }
}