@import '../import/colors.scss';

.wh-report-container{
    width: 90%;
    margin: 0 auto;
}

.wh-report-timeline{
    margin-top: 20px;
    height: 700px;
}

.wh-timeline{
    width: 90%;
    height: 100%;
    background: $mainOrange;
    margin: 0 auto;
    border-radius: 10px;
}

.wh-timeline-title{
    width: 90%;
    height: 100px;
    margin: 0 auto;
    padding-top: 30px;
}

.wh-timeline-title-title{
    font-size: 30px;
    font-weight: bold;
    color: $mainGreen;
}

.wh-timeline-title-add{
    height: 50px;
    width: 50px;
    background: $mainGreen;
    float: right;
    border-radius: 10px;
    font-size: 40px;
}

.wh-timeline-title-add i{
    margin: 0 auto;
    color: $mainOrange;
}

.wh-timeline-reports{
    height: 550px;
    width: 90%;
    background: $mainGreen;
    margin: 0 auto;
    border-radius: 7px;
    padding-top: 20px;
}

.wh-timeline-reports-wgt{
    margin: 0 auto;
    margin-bottom: 20px;
    height: 70px;
    width: 90%;
    background: $mainOrange;
    border-radius: 5px;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.wh-timeline-wgt-date{
    font-size: 20px;
    font-weight: bold;
    color: $mainGreen;
}

.wh-timeline-wgt-open{
    font-size: 20px;
    font-weight: bold;
    width: 50px;
    height: 35px;
    color: $mainGreen;
    margin-left: 10px;
    background: $mainGreen;
    float: right;
    color: $mainOrange;
}



.wh-timeline-wgt-title{
    font-size: 20px;
    font-weight: bold;
    color: $mainGreen;
    margin-left: 10px;
}

.wh-report-report{
    margin-top: 20px;
    height: 700px;
}

.wh-reportField{
    width: 90%;
    height: 100%;
    background: $mainGreen;
    margin: 0 auto;
    border-radius: 10px;
}

.wh-reportField-title{
    height: 150px;
    border-bottom: solid 10px $mainOrange;
    font-size: 40px;
    padding-top: 50px;
    padding-left: 30px;
    font-weight: bold;
    color: $mainOrange
}

.wh-reportField-summary{
    height: 350px;
    border-bottom: solid 10px $mainOrange;
    padding: 30px;
    font-size: 18px;
    color: $mainOrange;
}

.wh-reportField-links{
    height: 150px;
    background: $mainOrange;
    margin-top: 20px;
    padding: 20px;
    overflow-y: auto;
}

.wh-reportField-links-file{
    height: 100px;
    width: 100px;
    background: $mainGreen;
    border-radius: 10px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: $mainOrange;
}

.wh-reportField-links-file:hover{
    background: $mainOrange;
    border: solid 3px $mainGreen;
    color: $mainGreen;
}

.wh-reportField-links-file i{ 
    font-size: 60px;
    padding: 20px;
}

.wh-newReport-space{
    padding: 30px;
}
.wh-newReport-space-edit{
    padding: 30px;
}

.wh-newReport-form{
}

.wh-newReport-form label{
    font-size: 20px;
}

.wh-newReport-input{
    padding: 10px;
    background: $mainGreen;
    color: $mainOrange;
    border-radius: 5px;
}

.wh-newReport-input label{
    color: $mainOrange;
}

.wh-newReport-input input{
    color: $mainOrange;
}

.wh-newReport-summary{
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: $mainGreen;
    padding: 20px;
    color: $mainOrange;
    border-radius: 5px;
}

.wh-newReport-summary label{
    color: $mainOrange;
}

.wh-newReport-summary-text{
    height: 200px;
    width: 100%;
    border-radius: 5px;
    background: $mainGreen;
    border: solid 2px $mainOrange;
    margin-top: 10px;
    color: $mainOrange;
}

.wh-newReport-btns{
    margin-top: 10px;
    height: 50px;
}

.wh-newReport-btns button{
    height: 100%;
    width: 130px;
    border: 0;
    border-radius: 5px;
}

.wh-newReport-btns-commit{
    float: left;
    background: $mainGreen;
    color: $mainOrange;
    cursor: pointer;
}

.wh-newReport-btns-cancel{
    float: right;
    background: red;
    color: $mainGreen;
    cursor: pointer;
}

.wh-newReport-files{
    
}

.wh-reportField-edit{
    float: right;
    margin-right: 30px;
    color: $mainGreen;
    background: $mainOrange;
    padding: 10px;
    width: 80px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}

.wh-newReport-summary-edit{
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: $mainGreen;
    padding: 20px;
    color: $mainOrange;
    border-radius: 5px;
}

.wh-newReport-summary-edit label{
    color: $mainOrange;
}

.wh-editReport-summary{
    width: 48%;
    float: left;
}

.wh-editReport-filelist{
    width: 48%;
    margin-left: 2%;
    float: left;
}

.wh-editReport-filelist-area{
    height: 200px;
    width: 100%;
    border-radius: 5px;
    background: $mainGreen;
    border: solid 2px $mainOrange;
    margin-top: 10px;
    overflow-y: scroll;
}

.wh-filelist-file{
    width: 90%;
    height: 50px;
    background: $mainOrange;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
}

.wh-filelist-file-name{
    color: $mainGreen;
    margin-left: 5px;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60%;
    float: left;
}

.wh-filelist-file-del{
    background: $mainGreen;
    color: $mainOrange;
    float: right;
    margin-right: 10px;
    width: 40px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 3px;
    cursor: pointer;
}

.wh-editReport-btns-delete{
    float: right;
    background: $mainGreen;
    color: $mainOrange;
    cursor: pointer;
    margin-right: 10px;
}

@media screen and (max-width: 750px){

    .wh-newReport-summary-edit{
        height: 550px;
    }

    .wh-editReport-summary{
        float: none;
        width: 100%;
    }

    .wh-editReport-filelist{
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 992px){
    .wh-report-timeline{
        height: 400px;
    }

    .wh-timeline-reports{
        height: 250px;
    }
}

@media screen and (max-width: 1600px){
    .wh-timeline-wgt-date{
        display: none;
    }
}