@import './import/colors.scss';

.wh-AddData-modal{
    position: absolute;
    top: 200px;
    left: 20%;
    right: 20%;
    bottom: 400px;
    background: $mainOrange;
    border: none !important;
    border-radius: 10px;
}

.wh-newTargets-modal{
    position: absolute;
    top: 200px;
    left: 20%;
    right: 20%;
    bottom: 400px;
    background: $mainOrange;
    border: none !important;
    border-radius: 10px;
}

.wh-newReport-modal{
    position: absolute;
    top: 50px;
    left: 20%;
    right: 20%;
    // bottom: 250px;
    background: $mainOrange;
    border: none !important;
    border-radius: 10px;
}

.wh-targets-modal{
    position: absolute;
    top: 50px;
    left: 20%;
    right: 20%;
    background: $mainOrange;
    border: none !important;
    border-radius: 10px;
    padding: 10px;
}

.wh-targets-modal h5{
    padding: 20px;
    color: $mainGreen;
    text-transform: capitalize;
}

.wh-targets-modal-inputfeild{
    background: $mainGreen;
    border-radius: 5px;
    height: 130px;
}

.wh-targets-modal-input{
    width: 25%;
    float: left;
    color: $mainGreen;
    padding: 20px;
}

.wh-targets-modal-input label{
    color: $mainOrange;
    font-size: 20px;
}

.wh-targets-modal-input input{
    color: $mainOrange;
}

.wh-modal-Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: $mainGreen, $alpha: 0.5);
  }