@import './import/colors.scss';

.wh-AddData-modal{
    position: absolute;
    top: 200px;
    left: 20%;
    right: 20%;
    bottom: 400px;
    background: $mainOrange;
    border: none !important;
    border-radius: 10px;
}

.wh-newTargets-modal{
    position: absolute;
    top: 200px;
    left: 20%;
    right: 20%;
    bottom: 400px;
    background: $mainOrange;
    border: none !important;
    border-radius: 10px;
}

.wh-newReport-modal{
    position: absolute;
    top: 50px;
    left: 20%;
    right: 20%;
    // bottom: 250px;
    background: $mainOrange;
    border: none !important;
    border-radius: 10px;
}

.wh-modal-Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: $mainGreen, $alpha: 0.5);
  }